$grid-column-gutter: (
	small: 12px,
	medium: 24px,
	large: 48px
);
// Make foundation grid full-width
$global-width: 12000px;

@import '../node_modules/foundation-sites/scss/foundation';
@import 'reset';
@import 'Base/**/*.scss';
@import 'Components/**/*.scss';
@import '../../../Private/Fusion/**/*.scss';
@import 'overrideVendor';
@import 'shame';

@include foundation-flex-grid;
@include foundation-visibility-classes;

body {
	font-family: $fontFamily-serif;
	font-size: 100%;
}
