$u: 12px;

$intervals: (
	negative: -1,
	none: 0,
	half: .5,
	single: 1,
	sesquialteral: 1.5,
	double: 2,
	triple: 3
);

@each $intervalName, $intervalValue in $intervals {
	.margin-#{$intervalName} {
		margin: $intervalValue*$u !important;
	}

	.marginVertical-#{$intervalName} {
		margin-top: $intervalValue*$u !important;
		margin-bottom: $intervalValue*$u !important;
	}

	.marginHorizontal-#{$intervalName} {
		margin-right: $intervalValue*$u !important;
		margin-left: $intervalValue*$u !important;
	}

	.marginTop-#{$intervalName} {
		margin-top: $intervalValue*$u !important;
	}

	.marginRight-#{$intervalName} {
		margin-right: $intervalValue*$u !important;
	}

	.marginBottom-#{$intervalName} {
		margin-bottom: $intervalValue*$u !important;
	}

	.marginLeft-#{$intervalName} {
		margin-left: $intervalValue*$u !important;
	}

	.padding-#{$intervalName} {
		padding: $intervalValue*$u !important;
	}

	.paddingVertical-#{$intervalName} {
		padding-top: $intervalValue*$u !important;
		padding-bottom: $intervalValue*$u !important;
	}

	.paddingHorizontal-#{$intervalName} {
		padding-right: $intervalValue*$u !important;
		padding-left: $intervalValue*$u !important;
	}

	.paddingTop-#{$intervalName} {
		padding-top: $intervalValue*$u !important;
	}

	.paddingRight-#{$intervalName} {
		padding-right: $intervalValue*$u !important;
	}

	.paddingBottom-#{$intervalName} {
		padding-bottom: $intervalValue*$u !important;
	}

	.paddingLeft-#{$intervalName} {
		padding-left: $intervalValue*$u !important;
	}
}


@media (max-width: 640px) {

	@each $intervalName, $intervalValue in $intervals {
		.small-margin-#{$intervalName} {
			margin: $intervalValue*$u !important;
		}

		.small-marginVertical-#{$intervalName} {
			margin-top: $intervalValue*$u !important;
			margin-bottom: $intervalValue*$u !important;
		}

		.small-marginHorizontal-#{$intervalName} {
			margin-right: $intervalValue*$u !important;
			margin-left: $intervalValue*$u !important;
		}

		.small-marginTop-#{$intervalName} {
			margin-top: $intervalValue*$u !important;
		}

		.small-marginRight-#{$intervalName} {
			margin-right: $intervalValue*$u !important;
		}

		.small-marginBottom-#{$intervalName} {
			margin-bottom: $intervalValue*$u !important;
		}

		.small-marginLeft-#{$intervalName} {
			margin-left: $intervalValue*$u !important;
		}

		.small-padding-#{$intervalName} {
			padding: $intervalValue*$u !important;
		}

		.small-paddingVertical-#{$intervalName} {
			padding-top: $intervalValue*$u !important;
			padding-bottom: $intervalValue*$u !important;
		}

		.small-paddingHorizontal-#{$intervalName} {
			padding-right: $intervalValue*$u !important;
			padding-left: $intervalValue*$u !important;
		}

		.small-paddingTop-#{$intervalName} {
			padding-top: $intervalValue*$u !important;
		}

		.small-paddingRight-#{$intervalName} {
			padding-right: $intervalValue*$u !important;
		}

		.small-paddingBottom-#{$intervalName} {
			padding-bottom: $intervalValue*$u !important;
		}

		.small-paddingLeft-#{$intervalName} {
			padding-left: $intervalValue*$u !important;
		}
	}

}
