.overflow-hidden,
.clearfix {
	overflow: hidden !important;
}

.float-left,
.left {
	float: left !important;
}

.float-right,
.right {
	float: right !important;
}

.fixedWidth {
	margin: 0 auto;
	max-width: 1200px !important;
}

.fullWidth {
	width: 100% !important;
	max-width: 100% !important;
}

.display-flex {
	display: flex;
}

.position-relative {
	position: relative;
}
