// Delete it and start from scratch

.H1 {
	font-family: $fontFamily-serif;
	font-size: 36px;
	@include breakpoint(medium) {
		font-size: 52px;
	}
	font-weight: bold;
	line-height: $lineHeight-tight;
	letter-spacing: 1px;
}

.H2 {
	font-family: $fontFamily-serif;
	font-size: 36px;
	@include breakpoint(medium) {
		font-size: 52px;
	}
	color: $white;
}

.H3 {
	font-family: $fontFamily-serif;
	font-size: 26px;
	@include breakpoint(medium) {
		font-size: 36px;
	}
	font-weight: bold;
	line-height: $lineHeight-tight;
	letter-spacing: 1px;
}

.H4 {
	font-family: $fontFamily-serif;
	font-size: 22px;
	@include breakpoint(medium) {
		font-size: 26px;
	}
	font-weight: bold;
	letter-spacing: 0.3px;
	line-height: 1.3;
}

.Paragraph {
	font-family: $fontFamily-serif;
	font-size: 16px;
	line-height: $lineHeight-normal;
}

.ParagraphSans {
	font-family: $fontFamily-sans;
	font-size: 18px;
	line-height: $lineHeight-normal;
}



.RteText {
	&,
	p {
		@extend .Paragraph;
		color: $gray;
		margin: $u 0;
	}
	h1 {
		@extend .H2;
		color: $color-primaryAlt;
		margin-top: 3*$u;
		margin-bottom: $u;
	}
	h2 {
		@extend .H3;
		color: $color-primaryAlt;
		margin-top: 3*$u;
		margin-bottom: $u;
	}
	h3 {
		@extend .H4;
		color: $color-primary;
		margin-top: 3*$u;
		margin-bottom: $u;
	}
	a {
		text-decoration: underline;
	}
	li {
		@extend .Paragraph;
		color: $gray;
		margin-bottom: 6px;
	}
}
