*, *:before, *:after {
	box-sizing: border-box;
}

// Must be 100% for off canvas to work
html,
body {
	margin: 0;
	height: 100%;
}

a {
	text-decoration: inherit;
	color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// Responsive images
img {
	display: inline-block;
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

figure {
	margin: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input, textarea, select {
	width: 100%;
}

select, button {
	background-color: transparent;
}

button {
	border-style: solid;
}
