{
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 4,
        "printWidth": 1000
      }
    },
    {
      "files": "package.json",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.yaml", "*.yml", ".prettierrc"],
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    },
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.mjs",
        "*.mjsx",
        "*.ts",
        "*.tsx",
        "*.mts",
        "*.mtsx",
        "*.vue",
        "*.mvue"
      ],
      "options": {
        "tabWidth": 4,
        "printWidth": 120,
        "singleQuote": true
      }
    },
    {
      "files": "*.scss",
      "options": {
        "printWidth": 300
      }
    }
  ]
}
