# For more information about the properties used in
# this file, please see the EditorConfig documentation:
# http://editorconfig.org/

# top-most EditorConfig file
root = true

# Default
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
quote_type = single

# PHP should follow the PSR-2 standard
[*.php]
indent_size = 4

# JS, SASS, HTML should use tabs, to reduce conflicts
[*.{js,scss,html}]
indent_style = tab

# Markdown et al. use trailing whitespace for line breaks
[*.{note,md,edit,read}]
trim_trailing_whitespace = false

# JSON can have longer lines
[*.json]
max_line_length = 1000

# Composer uses 4 spaces itself
[composer.json]
indent_size = 4

[Sites.xml]
indent_size = 1
max_line_length = 1000

[Makefile]
indent_style = tab
