# For more information about the properties used in
# this file, please see the EditorConfig documentation:
# http://editorconfig.org/

# top-most EditorConfig file
root = true


# Default

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing-whitespace = true
indent_style = tab
indent_size = 4

# Exceptions
[{*.{yaml,yml,sh,jscsrc},package.json,.*rc}]
indent_style = space
indent_size = 2

# PHP should follow the PSR-2 standard
[*.{json,php}]
indent_style = space
indent_size = 4

[*.{json,scss}]
max_line_length = 1000

[Sites.xml]
indent_size = 1

[*.{note,md,edit,read}]
trim_trailing-whitespace = false
