# Frontend template
/DistributionPackages/CodeQ.Site/Resources/Public/index.css

# Neos CMS
/bin/
/Build/
/Configuration/**/*.example
/Configuration/Development/Settings.yaml
/Configuration/Testing/
/Configuration/Settings.yaml
/Configuration/README
/Data/
/Packages/*
/Web/_Resources
/Web/index.php
/Readme.rst
/Readme.txt
/Upgrading.rst
/Upgrading.txt
/flow
/flow.bat
.eel_history
.localbeach.*

# Server, we use nginx
.htaccess

# Various temporary and editor files
node_modules
*.DS_Store
.idea
