# Neos CMS
/Build/
/Configuration/
/Data/
/Packages/*
/Web/_Resources
/Web/index.php
/bin/
/Readme.txt
/Upgrading.txt
/Upgrading.rst
/Readme.rst
/flow
/flow.bat
.eel_history

# Frontend template
/Source/CodeQ.Site/Resources/Public/Frontend/node_modules/
/Source/CodeQ.Site/Resources/Public/Frontend/bower_components/

# Server, we use nginx
.htaccess

# Various temporary and editor files
.fuse_hidden
.sass-cache
bower_components
node_modules
*.DS_Store
/.idea
.remote-sync.json
DistributionPackages/CodeQ.Site/.idea
