:root {
  --section-horizontal-gap: 12px;
  --negative-section-horizontal-gap: -12px;
  --section-vertical-gap: 20px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 0 var(--footer-height);
  margin: 0;
}
