/**
 * This styles provide a very basic layout.
 * It's recommended to replace this with your own frontend tooling.
 */

body {
	margin: 0;
	padding: 0;
}

/**
 * Header Layout
 */
.main-header {
	padding: 1rem 1.2rem;
	background: #00ADEE;
	display: flex;
	justify-content: space-between;
}

.logo {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.navigation a {
	color: white;
	padding-left: 0.5rem;
}


/**
 * Main Content Layout
 */
.main {
	max-width: 800px;
	margin: 0 auto;
	padding: 0.5rem;
}
.main img {
	max-width: 100%;
	height: auto;
}



/**
 * Footer Layout
 */
.main-footer {
	padding: 1rem 1.2rem;
	background: #00ADEE;
	display: flex;
	justify-content: space-between;
}

.main-footer > * {
	min-width: 3rem;
}

.main-footer a {
	color: black;
}

.main-footer .neos-inline-editable.placeholder {
	color: black;
	font-style: italic;
}
